*{
    box-sizing: border-box;
}

.title{
    text-align: center;
}
.line{
    border: solid black 1px;
}

.game-box{
    text-align: center;
}

.input-box{
    width: 45px;
    height: 45px;
    font-size: x-large;
    font-weight: bold;
    padding: 7px;
    margin: 8px;
    border: 3px solid rgb(207, 199, 207);
    text-align: center;
}

.spinner{
    height: 40px;
    font-size: xx-large;
}

.title-word {
animation: color-animation 4s linear infinite;
}

.title-word-1 {
--color-1: #DF8453;
--color-2: #3D8DAE;
--color-3: #E4A9A8;
}

.title-word-2 {
--color-1: #DBAD4A;
--color-2: #ACCFCB;
--color-3: #17494D;
}



@keyframes color-animation {
0%    {color: var(--color-1)}
32%   {color: var(--color-1)}
33%   {color: var(--color-2)}
65%   {color: var(--color-2)}
66%   {color: var(--color-3)}
99%   {color: var(--color-3)}
100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */


.title {
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 3.5vw;
text-transform: uppercase;
}
